.navigation {
  width: 100%;
  margin: 0 auto;
  background: rgb(26, 26, 39);
  margin-bottom: 20px;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav__link {
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.5s ease;
}