.color {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  max-width: 250px;
  box-shadow: 0px 0px 5px grey;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 2px;
  transition: all 0.3s ease;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    box-shadow: 2px 2px 25px grey;
  }
}

.color__title {
  max-width: 230px;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  transition: all 0.5s ease;
}

.color__remove {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  box-shadow: 2px 2px 5px grey;
  border-radius: 3px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  
  &:hover {
    box-shadow: 0px 0px 5px grey;
  }
}

.color-elem {
  width: 100%;
  height: 30px;
}